#popupHome {
    width: 280px;
    height: 300px;
    padding: 10px;
    background-color: lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 10;
    margin: -150px 0 0 -140px;
    border-radius: 25px;
    border: 4px solid;
    border-color: darkgray;
}

.row {
    pointer-events: auto;
}

#popupBDokenHome {
    width: 222px;
    height: 150px;
    padding: 10px;
    background-color: lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 10;
    margin: -75px 0 0 -111px;
    border-radius: 25px;
    border: 4px solid;
    border-color: darkgray;
}

#ajdeRadiDanas {
    pointer-events: auto;
}

#popupMyProfile {
    width: 320px;
    height: 150px;
    padding: 10px 10px 0 10px;
    background-color: lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 10;
    margin: -75px 0 0 -160px;
    border-radius: 25px;
    border: 4px solid;
    border-color: darkgray;
}

#EditForm {
    pointer-events: auto;
}

#popupDeleteVideo {
    width: 320px;
    height: 180px;
    padding: 10px 10px 0 10px;
    background-color: lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 10;
    margin: -75px 0 0 -160px;
    border-radius: 25px;
    border: 4px solid;
    border-color: darkgray;
}

.container {
    pointer-events: auto;
}

#popupLogout {
    width: 240px;
    height: 110px;
    padding: 10px 10px 0 10px;
    background-color: lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 20;
    margin: -55px 0 0 -120px;
    border-radius: 25px;
    border: 4px solid;
    border-color: darkgray;
}